/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

.credit {
  text-align: center;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 860px;
  padding: 0 15px;
}
.container .credit {
  margin: 20px 0;
}


/* Svg stuff */
#svg-container {
  border: 1px solid #DDD;
  margin: 0 auto;
  display: block;

}

rect {
  fill: none;
  pointer-events: all;
}

circle,
.line {
  fill: none;
  stroke: #C0C0C0;
  stroke-width: 1.5px;
}

circle {
  fill: #fff;
  fill-opacity: .3;
  cursor: move;
}

.selected {
  fill: #ab403c;
  stroke: #ab403c;
}


/* Code */
#output {
  margin-top: 40px;
  margin-bottom: 20px;
}

code {
  max-width: 800px;
  padding: 15px;
}

/* Header */
#show {
  float: right;
  margin: 5px 20px 0 0;
}

h1 {
  display: inline;
}
